---
layout: default
---

<div class="home">

  <div class="col-wrapper">
    <div class="col col-9">
      <h2>Contact</h2>
      <p>
        <a href="mailto:maxime.sahroui@gmail.com">maxime.sahroui@gmail.com</a><br />
        <a href="https://twitter.com/maximeshr" target="_blank">twitter/maximeshr</a><br />
        <a href="https://github.com/maximeshr" target="_blank">github/maximeshr</a><br />
        <a href="https://www.linkedin.com/in/maximeshr" target="_blank">linkedin/maximeshr</a>
      </p>
    </div>
    <div class="col col-3 text-center">
      <img src="{{ '/img/me.jpg' | prepend: site.baseurl }}" alt="Maxime Sahroui" class="img-circle">
    </div>
  </div>

  <div class="col-wrapper">
    <div class="col col-12">
      <h2>My job</h2>
      <p>I specialise in JavaScript applications, starter projects, growth hacking and entrepreneurship.</p>
      <p>I have experience with Node.js-based web apps, ES6/7 with Babel, JSON/REST API development and MVPs creation with Meteor. Also experienced with contemporary frontend technologies such as AngularJS and React.</p>
      <p>I'm also a TDD/BDD enthusiast using Mocha & Cucumber to fight against <a target="_blank" href="https://github.com/nelsonic/practical-js-tdd#cowboy-coders">Cowboy-Coders</a> madness and <a href="https://jaxenter.com/yolo-driven-development-methodology-113469.html">YOLO-driven development</a>.</p>
      <p>I have Agile experience and I'm comfortable working in teams of all sizes at all stages of the project lifecycle.</p>
      <p>I'm currently learning <a href="http://redux.js.org/" target="_blank">Redux</a> :)</p>
    </div>
  </div>

  <div class="col-wrapper m-b-lg">
    <div class="col col-12">
      <h2>They already trust me</h2>
    </div>
  </div>
  <div class="col-wrapper m-b-lg">
    <div id="owl-carousel" class="owl-carousel">
      <div class="item"><a href="http://www.nestup.be" target="_blank"><img src="{{ '/img/clients/nestup.png' | prepend: site.baseurl }}" alt="NEST'up by Creative Wallonia"></a></div>
      <div class="item"><a href="http://www.tipi.be" target="_blank"><img src="{{ '/img/clients/tipi.png' | prepend: site.baseurl }}" alt="MyTipi"></a></div>
      <div class="item"><a href="http://www.leanstudio.eu" target="_blank"><img src="{{ '/img/clients/lean_studio.png' | prepend: site.baseurl }}" alt="Lean Studio"></a></div>
      <div class="item"><a href="https://www.bnpparibasfortis.be" target="_blank"><img src="{{ '/img/clients/bnp_parisbas.png' | prepend: site.baseurl }}" alt="BNP Parisbas Fortis"></a></div>
      <div class="item"><a href="http://www.qualifio.com/" target="_blank"><img src="{{ '/img/clients/qualifio.png' | prepend: site.baseurl }}" alt="Qualifio"></a></div>
      <div class="item"><a href="http://www.breadsy.be/" target="_blank"><img src="{{ '/img/clients/breadsy.png' | prepend: site.baseurl }}" alt="Breadsy"></a></div>
      <div class="item"><a href="http://www.makevisionhappen.com/" target="_blank"><img src="{{ '/img/clients/makevisionhappen.png' | prepend: site.baseurl }}" alt="Make.Vision.Happen"></a></div>
    </div>
  </div>

  <div class="col-wrapper">
    <div class="col col-12">
      <h2>About me</h2>
      <p class="text">I'm a 26 y/o JavaScript ninja living in Belgium (Louvain-la-Neuve). I like building <strong>modular</strong> and <strong>tested</strong> applications for my clients. I've launched my activity in 2015: <a href="http://ranqed.io" target="_blank">RANQED</a> and I like sharing my experiences with other entrepreneurs through events and conferences.</p>
      <p class="text">I'm currently working on an entrepreneurship program (<a href="#" class="text-line-through">histartr</a>) to help new entrepreneurs to build <strong>correct M.V.P</strong> and improve their LEAN vision.</p>
    </div>
  </div>
  <div class="col-wrapper">
    <div class="col col-12">
      <h2>Mon carnet (in French)</h2>
      {% if site.posts.size == 0 %}
        <p class="text">First article soon ;)</p>
      {% else %}
        <ul class="list-unstyled">
        {% for post in site.posts limit:5 %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        </ul>
        <p class="text m-t-sm">
          <a href="{{ '/archives/' | prepend: site.baseurl }}">
            Show me more...
          </a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="col-wrapper">
    <div class="col col-6">
      <h2>Work with me ?</h2>
      <form action="//formspree.io/maxime.sahroui@gmail.com"
      method="POST">
        <input type="hidden" name="_next" value="{{ '/thanks/' | prepend: site.baseurl }}" />
        <input type="email" name="_replyto" placeholder="Your email" required>
        <textarea name="message" rows="5" placeholder="Your message" required></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
    <div class="col col-6">
      <h2>Current projects</h2>
      <ul class="projects list-unstyled">
        <li><a href="http://www.qualifio.com/">Qualifio</a> as Software Developer</li>
      </ul>
      <div class="m-t-md">
        {% if site.available %}
          <p class="text">
            I'm currently <span class="label label-available">available</span> for any kind of project.
          </p>
        {% else %}
          <p class="text">
            I'm <span class="label label-unavailable">not available</span> for other projects. But you can contact me, I know some experts that may be interested ;)
          </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col-wrapper">
    <div class="col col-12 text-center">
      <h2>You can find me here</h2>
		</div>
		<div class="col col-6 float-right">
      <address>
        <strong>Creative Spark</strong><br />
        6, rue Émile Francqui<br />
        1435 Mont-Saint-Guibert<br />
        Belgium<br />
        <a href="http://creativespark.be/" target="_blank">www.creativespark.be</a>
      </address>
    </div>
		<div class="col col-6 float-left">
			<address class="float-left">
				<strong>Qualifio (Open Space)</strong><br />
				16, place de l'Université<br />
				1348  Ottignies-Louvain-la-Neuve
				Belgium<br />
				<a href="http://www.startit.be/" target="_blank">www.startit.be</a>
			</address>
		</div>
	</div>

</div>
