<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="fr" />
  <meta name="language" content="fr" />
  <meta name="copyright" content="http://maximeshr.github.io" />
  <meta name="author" content="Maxime Sahroui" />
  <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@maximeshr" />
  <meta name="twitter:author" content="@maximeshr" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}" />
  <meta property="og:site_name" content="maximeshr.github.io" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:language" content="fr" />

  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "bower_components/owlcarousel/owl-carousel/owl.carousel.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "bower_components/owlcarousel/owl-carousel/owl.theme.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
