<section class="main-header regular">
  <div class="vertical-container">
    <div class="wrapper clearfix">
      <header>
        <a href="{{ '/' | prepend: site.baseurl }}">
        <h1 id="main-title">{{ site.title }}</h1>
          <h2 id="main-subtitle">{{ site.subtitle }}</h2>
        </a>
      </header>
      <nav id="main-nav" role="navigation">
        <a href="{{ '/a-propos/' | prepend: site.baseurl }}" class="">À propos</a>
        <a href="{{ '/mon-carnet/' | prepend: site.baseurl }}" class="">Mon Carnet</a>
        <a href="mailto:{{ site.email }}">Me Contacter</a>
      </nav>
    </div>
  </div>
</section>
