/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    background-image: url('/img/space.png');
    -webkit-text-size-adjust: 100%;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.img-office {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 1em;
}

.post img {
  margin: 1em 0;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

ul {
  list-style: square;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Strongs
 */
strong, b {
  font-weight: 800;
}
.post {
  strong, b {
    color: $text-color-alternative;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $text-color-alternative;
}

h1 {
   font-weight: 800;
}



/**
 * Links
 */
a {
    font-weight: 800;
    color: $brand-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $brand-color-dark;
        border-bottom: 2px solid $brand-color-dark;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border: 4px solid $grey-color-light;
    padding: 1em;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    background-color: #eef;
    color: #000;
    text-shadow: none;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Form
 */
form input, form textarea {
  margin-bottom: 0.5em;
}

input, textarea {
  font-size: 0.8em;
  font-family: $base-font-family;
  border: 1px solid #ddd;
  background: #fff;
  padding: 0.9em;
  width: 80%;
}

input[type="submit"] {
  width: 50%;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid $brand-color;
  color: $brand-color;
  background: transparent;
  line-height: 1em;
  padding: 0.6em 0.9em;
  -webkit-appearance: button;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid $brand-color-dark;
    color: $brand-color-dark;
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/**
 * Disqus
 */
#disqus_thread { margin-top: 3em; }

/**
 * Helpers
 */
.text-right     { text-align: right;   }
.text-center    { text-align: center;  }
.text-left      { text-align: left;    }
.text-justify   { text-align: justify; }
.text-inverse   { color: $text-color-alternative; }
.text-important { font-weight: 800; }
.text-underline { border-bottom: 1px solid $text-color; }
.text-line-through { text-decoration: line-through; }
.float-right { float: right; }
.float-left { float: left; }
.m-t-sm { margin-top:    15px !important; }
.m-t-md { margin-top:    30px !important; }
.m-t-lg { margin-top:    45px !important; }
.m-r-sm { margin-right:  15px !important; }
.m-r-md { margin-right:  30px !important; }
.m-r-lg { margin-right:  45px !important; }
.m-b-sm { margin-bottom: 15px !important; }
.m-b-md { margin-bottom: 30px !important; }
.m-b-lg { margin-bottom: 45px !important; }
.m-l-sm { margin-left:   15px !important; }
.m-l-md { margin-left:   30px !important; }
.m-l-lg { margin-left:   45px !important; }

#owl-carousel {
  .item {
    margin: 3px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
