.site-header {
  margin: 2em 0 1em;
  font-size: 1em;
}

.site-header .page-heading {
  font-size: 1em;
  margin-top: 1.25em;
}

.site-header .picture {
  width: 100px;
  border-radius: 100px;
}

.page-content {
  background: rgba(0,0,0,0.7);
  padding: 2em 0;

  p {
    text-align: justify;
  }
}

.post-title {
  margin: 2em 0;
  font-size: 1em;
  font-weight: 800;

  &::before {
    content: '# ';
    margin-left: -21px;
  }
}

.share {
  margin-top: 2em;
}

h2 {
  font-size: 1em;
  font-weight: 800;
  margin: 1em 0;

  &::before {
    content: '# ';
    margin-left: -21px;
  }
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
}

.list-tags {
  list-style: none;
  margin-left: 0;
}

.site-footer {
  margin: 2em 0;
  text-align: center;
  color: $text-color-alternative;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.label-available {
  background-color: $available;
}

.label-unavailable {
  background-color: $unavailable;
}

.text-right {
  text-align: right;
}

.col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.col-3 {
    width: -webkit-calc(25% - (#{$spacing-unit} / 2));
    width:         calc(25% - (#{$spacing-unit} / 2));
}

.col-6 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.col-9 {
    width: -webkit-calc(75% - (#{$spacing-unit} / 2));
    width:         calc(75% - (#{$spacing-unit} / 2));
}

.col-12 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {

    .col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .col-10 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .col-9 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    h2,
    .post-title {
      &::before {
        content: none;
        margin-left: 0px;
      }
    }
}

@include media-query($on-palm) {
    .col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    h2,
    .post-title {
      &::before {
        content: none;
        margin-left: 0px;
      }
    }
}
