---
layout: default
---

<div class="page-wrap">

  {% include header.html %}

  <article class="main-content">
    <div class="wrapper">
      <header class="section-header">
        <h1 class="section-title">{{ page.title }}</h1>
        <span class="section-subtitle"><time datetime="{{ page.date }}" pubdate>{{ page.date | date: "%d %b %Y" }}</time> &mdash; <span class="tag_list_link">{{page.categories | join: ', '}}</span></span>
      </header>
      <section class="post-content">
        {{ content }}
        <div class="post-nav">
          <span class="section-subtitle">Partager sur <a href="https://twitter.com/home?status={{ page.title }}+{{ page.url | prepend: site.url }}" target="_blank">Twitter</a>, <a href="https://www.facebook.com/share.php?u={{ page.url | prepend: site.url }}&amp;title={{ page.title }}" target="_blank">Facebook</a>, <a href="https://plus.google.com/share?url={{ page.url | prepend: site.url }}" target="_blank">Google+</a></span><br>

          {% if page.previous.url %}
            <a class="button prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="button next" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
          {% endif %}

        </div>
      </section>
    </div>
  </article>
</div>

{% include footer.html %}
